.default-bg {
  display: flex;
  position: relative;
  height: 100%;
  background-color: #f7f9f9;
  justify-content: center;
  align-items: center;
}

.bg-image-left,
.bg-image-right {
  width: 496px;
  height: 416px;
  position: absolute;
}

.bg-image-left {
  left: 0;
}
.bg-image-right {
  right: 0;
}

.card-sharp {
  background-color: #ffff;
  border: 1px solid #e0e0e0;
  padding: 20px 40px;
  box-shadow: 2px 3px 4px 0px rgba(215, 212, 212, 0.75);
  -webkit-box-shadow: 2px 3px 4px 0px rgba(215, 212, 212, 0.75);
  -moz-box-shadow: 2px 3px 4px 0px rgba(215, 212, 212, 0.75);
}
